@import '~@payloadcms/ui/scss';

.backup-dashboard {
  h2 {
    margin-bottom: 20px;
  }

  margin-bottom: base(1.5);
  display: flex;
  flex-direction: column;
  gap: base(0.2);

  .backup-item {
    margin-bottom: base(1);
    display: flex;
    flex-direction: row;
    gap: base(0.5);
    justify-content: space-between;
    align-items: center;

    background-color: #f5f5f5;
    padding: 0 20px;
    border-radius: base(0.2);
    .right{
      display: flex;
      flex-direction: row;
      gap: base(0.5);
      align-items: center;
      flex-shrink: 0;
    }

    @media (max-width: 768px) {
      padding-top: base(1);
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .btn-red {
    background-color: red;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .make-backup-container {
    display: flex;
    flex-direction: row;
    gap: base(0.2);
    align-items: center;

    .text {
      margin-left: 10px;
    }
  }

  .backup-filter-group {
    display: flex;
    flex-direction: row;
    gap: base(0.2);
    align-items: center;
  }
}

.red-text {
  color: red;
}